.eachItem {
  display: flex;
  flex-direction: row;
}

.qtyMinus {
  border-radius: 8px 8px 8px 8px;

  text-align: center;
}
.qtyPlus {
  border-radius: 8px 8px 8px 8px;

  text-align: center;
}
.qty {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 30px;
  height: 20px;
}
.productImg {
  width: 100px;
  height: 100px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -30px;
}

.eachProductItem {
  flex: auto;
}
