.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form.h1 {
  font-size: 40px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
