.sidebar {
  height: calc(100vh - 400px);

  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.sidebarListItem {
  flex: auto;
}

.sidebarwrap {
  display: flex;
  flex-direction: column;
}

.sidebarimg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
